.value {
  margin-bottom: 10px;
}

.title {
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80px;
  margin: 10px;
  border: 1px solid tomato;
  border-radius: 4px;
  padding: 10px;
}

.timer {
  display: flex;
  justify-content: center;
}
